%section#about.success
  .container
    .row
      .col-lg-12.text-center
        %h2 About
        %hr.star-light/
    .row
      .col-lg-4.col-lg-offset-2
        %p When I was 12 I began to play computer games as time passed I care to know the operation of computers and then change my life completely.
        %p I'm a restless consult, test and operate pieces of code developer I encounter
      .col-lg-4
        %p I'm a ruby developer and working with Ruby on Rails
        %p I work as Software Engineer at Flyer IO, We use technologies such as Ruby, Ruby on Rails, HTML5, JavaScript, CSS3, Google Maps, and other Web Tools.
