%footer.text-center
  .footer-above
    .container
      .row
        .footer-col.col-md-4
        .footer-col.col-md-4
          %h3 Around the Web
          %ul.list-inline
            %li
              %a.btn-social.btn-outline{href: 'https://www.facebook.com/memoxmrdl', target: '_blank'}
                %i.fa.fa-fw.fa-facebook
            %li
              %a.btn-social.btn-outline{href: 'https://plus.google.com/114281838724111865238', target: '_blank'}
                %i.fa.fa-fw.fa-google-plus
            %li
              %a.btn-social.btn-outline{href: 'https://twitter.com/memoxmrdl', target: '_blank'}
                %i.fa.fa-fw.fa-twitter
            %li
              %a.btn-social.btn-outline{href: 'https://github.com/memoxmrdl', target: '_blank'}
                %i.fa.fa-fw.fa-github
        .footer-col.col-md-4
  .footer-below
    .container
      .row
        .col-lg-12
          Copyright © GuillerMoreno 2014
.scroll-top.page-scroll.visible-xs.visble-sm
  %a.btn.btn-primary{:href => "#page-top"}
    %i.fa.fa-chevron-up