%header
  .container
    .row
      .col-lg-12
        %img.img-circle.img-responsive{:alt => "", :src => "https://avatars1.githubusercontent.com/u/2660087?v=3&s=460", width: '240px'}/
        .intro-text
          %span.name Guillermo Moreno
          %hr.star-light/
          %span.skills Web Developer - Software Engineer - Hobbier - Father - Single